<!DOCTYPE html>
<html>
    <head>
        <title>default template</title>
    </head>
    <body>
        <h1>default template</h1>
        <p>
            To be or not to be that is the question.
        </p>
    </body>
</html>