<!DOCTYPE html>
<html>
    <head>
        <title>view template</title>
    </head>
    <body>
        <h1>view template</h1>
        <p>
            The view template.
        </p>
    </body>
</html>