<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
	<description>General object configuration</description>

	<!-- 
		stores: not singletons 
		unlike most of the behaviours that are configured in Spring, stores are not singletons
		or indeed thread safe
	-->

	<object name="off2::store::topic-map" type="Conclave.Map.Store.MySqlTopicStore, Conclave.MySql" singleton="false">
		<constructor-arg index="0" value="Server=USER-PC\CONCLAVE;Database=conclave;User Id=user;Password=password;" />
	</object>

	<object name="off1::store::topic-map" type="Conclave.Map.Store.SqlServerTopicStore, Conclave.SqlServer" singleton="false">
		<constructor-arg index="0" value="Server=localhost;Database=conclave;User Id=user;Password=password;" />
	</object>

	<object name="store::topic-map" type="Conclave.Map.Store.MongoTopicStore, Conclave.Mongo" singleton="false">
		<constructor-arg index="0" value="mongodb://localhost" />
		<constructor-arg index="1" value="conclave" />
	</object>

	<object name="store::user-credentials" type="Conclave.Process.User.MySqlUserCredentialsStore, Conclave.MySql" singleton="false">
		<constructor-arg index="0" value="Server=localhost;Database=conclave;Uid=user;Pwd=password;" />
	</object>

	<!-- config: singletons -->
	
	<object name="life-cycle" type="System.Collections.Generic.List&lt;string&gt;">
		<constructor-arg index="0">
			<list element-type="string">
				<value>bootstrap</value>
				<value>parse-request</value>
				<!--<value>authenticate</value>-->
				<value>work</value>
				<value>view-state</value>
				<value>process-views</value>
				<value>render</value>
			</list>
		</constructor-arg>
	</object>


</objects>